@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">How many calories in...</h1>
    <p>Find out what different foods you can find and their calories to keep your calorie deficit on track</p>
</div>
